@import "variables/personal_variables";
@import "variables/bootstrap_variables";

@import "bootstrap";
@import "font-awesome";
@import "components/*";


.login-modal {
  position: fixed;
  top: 25%;
  left: 25%;
  // transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  background-color: white;
  z-index: 1;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.login-modal::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -5;
}
