// Place all the styles related to the Emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mail-table {
  height: 80vh;
}

.mail-list {
  padding: 25px;
  height: 80vh;
  overflow: auto;
  border: 1px solid #7c7c7c;
  border-radius: 10px 0 0 10px;
}

.mail-reader {
  padding: 25px;
  height: 80vh;
  overflow: auto;
  border: 1px solid #7c7c7c;
  border-radius: 0 10px 10px 0;
  border-left: none;
}

.mail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#delete-mail {
  align-self: flex-end;
}

.title {
  border-bottom: 1px solid #7c7c7c;
  padding: 25px 0 ;

}

.title a {
  font-size: 1.3rem;
  color: #555555;

}
